.profile__edit-button {
    border: 1px solid #FFF;
    background-image: url(../../../images/slash.png);
    background-repeat: no-repeat;
    background-color: #000;
    background-position: center;
    padding: 0;
    width: 24px;
    height: 24px;
    align-self: center;
    opacity: 1;
    transition: 0.5s;
}

.profile__edit-button:hover {
    opacity: 0.6;
}


@media screen and (max-width: 540px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 8px;
        right: 9px;
    }
}