.popup__input-container {
    display: flex;
    position: relative;
    width: 83%;
    margin: 0 auto;
}

@media screen and (max-width: 540px) {
    .popup__input-container {
      width: 84%;
    }
  }