.profile__add {
    width: 150px;
    height: 50px;
    position: absolute;
    top: 35px;
    right: 0;
}

@media screen and (max-width: 960px) {
    .profile__add {
        width: 100px;
    }
}

@media screen and (max-width: 540px) {
    .profile__add {
        width: 282px;
        top: 236px;
    }
}