.profile__info {
    display: grid;
    grid-template-columns: 294px 24px;
    grid-template-rows: 39px 1fr;
    row-gap: 10px;
    column-gap: 18px;
    align-items: end;
    margin-left: 30px;
}

@media screen and (max-width: 540px) {
    .profile__info {
        grid-template-columns: 1fr;
        grid-template-rows: 26px 1fr;
        row-gap: 11px;
        align-items: start;
        width: 100%;
        margin: 0 auto;
        margin-top: 22.25px;
        position: relative;
    }
}